body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
}

#app {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}
